@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, world!</h1>
    <h3><u>Monday</u></h3>
    <h3><u>Tuesday</u></h3>
</div>
